body {
	background-color: #f4f4f4;
	font-family: 'Lato', sans-serif;
	background-image: url('bg2.jpg');
	background-size: 'cover';
}

h1 {
	font-family: 'Lato', sans-serif;
	color: #555;
	font-size: 2.5rem;
	margin-bottom: 2rem;
	text-align: center;
}

form {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	margin: 0 auto;
	max-width: 600px;
}

label {
	font-family: 'Lato', sans-serif;
	color: #555;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	text-align: left;
	width: 100%;
}

input[type="text"], input[type="date"] {
	font-family: 'Lato', sans-serif;
	background-color: #f4f4f4;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	font-size: 1rem;
	margin-bottom: 1.5rem;
	padding: 1rem;
	width: 100%;
}

#tag {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 16px;
	line-height: 1.3;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.form-group {
	padding-right:400px;
}

#add-button {
	font-family: 'Lato', sans-serif;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	transition: all 0.3s ease-in-out;
}

#add-button:hover {
	background-color: #0069d9;
}

#reset-button {
	font-family: 'Lato', sans-serif;
	background-color: #800000;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 0.5rem;
	padding: 0.6rem 0.8rem;
	transition: all 0.3s ease-in-out;
}

#reset-button:hover {
	background-color: #EE4B2B;
}

#maps {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-radius: 20px;
	overflow: hidden;
	width: 80%; /* Set the width to 80% of the parent element */
	max-width: 1200px; /* Set a maximum width of 1000 pixels */
	margin: 0 auto; /* Center the container horizontally */
}

#add-activity {
	background: #d9782e;
	background-image: linear-gradient(to bottom, #d9782e, #8f8f8f);
	border-radius: 24px;
	color: #ffffff;
	font-size: 20px;
	padding: 15px 40px 15px 40px;
	text-decoration: none;
}

#activity {
	display: flex;
	justify-content: center;
	gap: 30px;
}

#add-activity:hover {
	background: #b0771c;
  	background-image: linear-gradient(to bottom, #b0771c, #ebd9bf);
	text-decoration: none;
}

.info-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #999;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 767px) {
	body {
		background-image: url('bg2.jpg');
	}
}

